p {
	font-family:Verdana;
	font-size:9pt;
	color:#393939;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	margin:0px;
	padding:0px;
}

a {
  color:#393939;
  text-decoration:underline;
}
a:visited {
  text-decoration:underline;
}
a:hover {
  text-decoration:underline;
}
a img {
  border:#000000 0px none;
}
